@import '../../common.scss';

.custom {
  @include FontRoman();

  display: flex;
  justify-content: center;
  align-items: center;
  color: $D40;
  padding: 0 6px;

  &.disabled {
    color: $D10-30;
  }

  &.inSuffix {
    padding-left: 0;
  }

  &.inPrefix {
    padding-right: 0;
  }
}

@include withRTL() {
    &.inSuffix {
        padding-right: 0;
    }
    &.inPrefix {
        padding-left: 0;
    }
}